build
.cache
include
.svn
*.pcap
*.log
src/common/3rdparty
src/common/tests
src/components/*
!src/components/callp/
src/components/callp/**
!src/components/callp/**/
!src/components/callp/**/Makefile
src/duapp/macphy/fsm
src/duapp/macphy/flexran
src/duapp/macphy/pico
src/duapp/macphy/oct
src/duapp/macphy/srcAc
src/log.txt
src/.cmdl
src/.config
src/include
src/rom
*.diff
src/nmk
.worktrees/
.tools/
